span.merchant-icon img{
  max-width: 25px;
  max-height: 25px;
}


.rescue-marker {
  font-size: 1em;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: -50px;
}

.rescue-marker .body {
  background: #fff;
  text-align: center;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 5px;
}

.rescue-marker .body h1{
  margin: 0;
  font-size: 1.5em;
}
.rescue-marker .body p{
  font-size: 1.2em;
}


.rescue-marker img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: #FFFFFF solid 5px;
}

.big-map ng-map{
  height: 600px;
  margin: 0 10px;
}

.bg-beer {
   background-image: url('../assets/bg-beer.png');
   background-size: cover;
}

.glass::before {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../assets/bg-beer.png');
    background-size: cover;
    content: ' ';
    opacity: 0.4;
}
.glass {
    background-color: white;
}


.users-list {
  padding: 20px;
}

.users-list .user {
  border-top: 1px solid #eeeeee;
  padding: 10px 0;
}

.users-list li {
  list-style: none;
}

.users-list .user img {
  float: left;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.users-list .user h2 span.status {
  color: darkgreen;
  font-weight: bold;
}

.users-list .user h2 span.small {
  float: right;
  margin-right: 20px;
}

.users-list .user p {
  font-size: 1.3em;
}

.angular-google-map-container { height: 600px; }

