<div id="left-menu">
    <div class="sub-left-menu my-scroll-area"
         ng-nicescroll
         tabindex="5000" style="overflow: hidden; outline: none;"
         nice-option="{cursorcolor: '#e2edff'}">

    <ul class="nav nav-list">
      <li><div class="left-bg"></div></li>
      <li class="time">
        <h1 class="animated fadeInLeft">{{ clock | date : 'HH:mm'}}</h1>
        <p class="animated fadeInRight">{{ clock | date : 'EEEE, MMM d yyyy'}}</p>
      </li>
      <li class="ripple {{ selectedMerchant.active == item ? 'active' : ''}}" ng-repeat="item in merchants">
        <a ng-click="selectMerchant(item)" class="tree-toggle nav-header"><span class="merchant-icon">
          <img src="{{ item.merchant_logo }}">
        </span>{{ item.name | limitTo: 15 }}
          {{item.summary.name.length > 20 ? '...' : ''}}
          <span class="fa-angle-right fa right-arrow text-right"></span>
        </a>
      </li>
      <!--
      <li class="active ripple">
        <a class="tree-toggle nav-header"><span class="fa-home fa"></span> Dashboard
          <span class="fa-angle-right fa right-arrow text-right"></span>
        </a>
        <ul class="nav nav-list tree" style="display: none;">
          <li><a href="dashboard-v1.html">Dashboard v.1</a></li>
          <li><a href="dashboard-v2.html">Dashboard v.2</a></li>
        </ul>
      </li>
      -->
      <li><a href="credits.html">Build with <i class="fa fa-heart"></i> By HackTree</a></li>
    </ul>
  </div>
</div>
