<div id="content">
  <div class="panel">
    <div class="panel-body">
      <div class="col-md-6 col-sm-12">
        <h3 class="animated fadeInLeft"><i class="fa fa-umbrella"></i> Severe Storms: Historical Data</h3>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="panel box-v4">
      <div class="panel-heading bg-white border-none">
        <h4><i class="fa fa-history"></i> Historical View</h4>
      </div>
      <div class="panel-body padding-0">
        <uib-progressbar class="progress-striped active"
                         value="markers[slider.value].loaded/markers[slider.value].total * 100"
                         type="success">Events loaded: {{markers[slider.value].loaded }}/{{markers[slider.value].total}} </uib-progressbar>
        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
          <ui-gmap-markers models="markers[slider.value].data" coords="'self'" type="cluster" doCluster="true"></ui-gmap-markers>
        </ui-gmap-google-map>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div style="padding-bottom: 20px;">
      <rzslider rz-slider-model="slider.value"
                rz-slider-options="slider.options"></rzslider>
    </div>

  </div>

  <div class="col-md-12">
    <div class="col-md-6">
      <div class="panel box-v4">
        <div class="panel-heading bg-white border-none">
          <h4><span class="icon-notebook icons"></span> Latitudinal/GDP Analysis</h4>
        </div>
        <div class="panel-body padding-0">
          <div class="col-md-12 col-xs-12 col-md-12 padding-0 box-v4-alert">
            <div
              line-chart
              line-data='[
                    { y: "2006", a: 100, b: 90 },
                    { y: "2007", a: 75,  b: 65 },
                    { y: "2008", a: 50,  b: 40 },
                    { y: "2009", a: 75,  b: 65 },
                    { y: "2010", a: 50,  b: 40 },
                    { y: "2011", a: 75,  b: 65 },
                    { y: "2012", a: 100, b: 90 }
                ]'
              line-xkey='y'
              line-ykeys='["a", "b"]'
              line-labels='["Serie A", "Serie B"]'
              line-colors='["#31C0BE", "#c7254e"]'>
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel box-v4">
        <div class="panel-heading bg-white border-none">
          <h4><span class="icon-notebook icons"></span> Latitudinal/Longitudinal vs. Damage Analysis</h4>
        </div>
        <div class="panel-body padding-0">
          <div class="col-md-12 col-xs-12 col-md-12 padding-0 box-v4-alert">
            <div
              line-chart
              line-data='resourceAnalysis'
              line-xkey="a"
              line-ykeys='["y"]'
              line-labels='["Latitude"]'
              line-colors='["#31C0BE"]'>
            </div>
          </div>
        </div>

        <div><div class="panel-heading bg-white border-none">
          <h4><span class="icon-notebook icons"></span> Latitude vs. Resource</h4>
        </div>
          <div class="panel-body padding-0">
            <div class="col-md-12 col-xs-12 col-md-12 padding-0 box-v4-alert">
              <div
                line-chart
                line-data='resourceAnalysis'
                line-xkey="b"
                line-ykeys='["y"]'
                line-labels='["Longitude"]'
                line-colors='["#c7254e"]'>
              </div>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
